@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Pacifico&family=Poppins@1&family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
// font-family: Poppins, sans-serif;    
font-family: 'Poppins', sans-serif;
color: #000;
font-weight:500;
}

    .phoneBG{
background-image: radial-gradient(#0003 , #0003, #f6f4f422, #f6f4f422,#d4d0d022,transparent,#fff);
}